:root {
	--green-lighter: hsl(148, 38%, 91%);
	--green-medium: hsl(169, 82%, 27%);
	--green-darker: hsl(170, 78%, 16%);
	--red: hsl(0, 66%, 54%);
	--white: hsl(0, 0%, 100%);
	--gray-medium: hsl(186, 15%, 59%);
	--gray-darker: hsl(187, 24%, 22%);
}
@font-face {
	font-family: karla;
	src: url(../fonts/Karla-VariableFont_wght.ttf);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: karla, sans-serif, Arial;
	font-weight: 400;
	min-height: 100svh;
	background: var(--green-lighter);
	display: flex;
	align-items: center;
	justify-content: center;
}
.form-container {
	width: 680px;
	height: fit-content;
	padding: 40px;
	background: var(--white);
	border-radius: 1rem;
	color: var(--gray-darker);
	box-shadow: 2px 4px 20px #00000007;
}
.form-container h1 {
	font-weight: 700;
}
.form-container label {
	display: block;
	font-size: 1rem;
	margin-bottom: 10px;
	font-weight: 400;
}
.form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	margin-top: 30px;
}
.input-container input {
	width: 100%;
	height: 40px;
	border-radius: 0.5rem;
	border: 1px solid var(--gray-medium);
	transition: 0.2s ease-in-out border-color;
	outline: none;
	padding: 0 10px;
	font-size: 1rem;
	color: var(--gray-darker);
}
.input-container input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px var(--green-lighter) inset !important;
}
.input-container input:focus,
.message {
	border-color: var(--green-medium);
}
.input-container input:hover {
	border-color: var(--green-medium);
}
.email-container,
.radio-container,
.message-container,
.checkbox-container,
.btn {
	grid-column: 1 / 3;
}
.radio-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0px 20px;
}

.radio-container label {
	grid-column: 1/3;
}
.radio {
	height: 40px;
	display: flex;
	align-items: center;
	border: 1px solid var(--gray-medium);
	border-radius: 0.5rem;
	padding: 0 10px;
	gap: 10px;
	transition: 0.3s ease-in-out border-color;
}

.radio label {
	margin: 0;
}
.radio input {
	appearance: none;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	outline: 1px solid var(--gray-medium);
	cursor: pointer;
	padding: 0;
	border: none;
}
.radio input:checked {
	outline-color: var(--green-medium);
	background: url(../images/icon-radio-selected.svg);
	background-position: center;
}
.radio.selected {
	background: var(--green-lighter);
	border-color: var(--green-medium);
}
.message-container .message {
	width: 100%;
	height: 130px;
	border-radius: 0.5rem;
	border: 1px solid var(--gray-medium);
	transition: 0.2s ease-in-out border-color;
	resize: none;
	outline: none;
	font-size: 1rem;
	padding: 10px;
}
.message-container .message:hover {
	border-color: var(--green-medium);
}
.checkbox-container {
	display: grid;
	grid-template-columns: 15px 1fr;
	align-items: center;
	gap: 10px;
}
.checkbox-container p {
	grid-column: 1/3;
}
.checkbox-container input {
	appearance: none;
	width: 15px;
	height: 15px;
	border: 1px solid var(--gray-medium);
	border-radius: 2px;
	cursor: pointer;
	outline: none;
}
.checkbox-container input:checked {
	background: url(../images/icon-checkbox-check.svg);
	background-position: center;
	border-color: var(--green-medium);
}
.checkbox-container label {
	margin: 0;
}
.label-star {
	position: relative;
	width: fit-content;
}
.label-star::after {
	content: "*";
	position: absolute;
	right: -15px;
	top: -2px;
	color: var(--green-medium);
	font-size: 1.2rem;
}
.btn {
	width: 100%;
	height: 50px;
	border-radius: 0.5rem;
	border: none;
    outline: none;
	background: var(--green-medium);
	color: var(--white);
	font-size: 1.1rem;
	cursor: pointer;
	transition: 150ms ease-in background;
}
.btn:hover {
	background: var(--green-darker);
}
input.error,
.message.error {
	border-color: var(--red);
}
p.error {
	color: var(--red);
	font-size: 0.9rem;
	margin-top: 5px;
}
.succes-message-container {
	position: absolute;
	width: 450px;
	height: 100px;
	background: var(--gray-darker);
	color: var(--white);
	border-radius: 13px;
	padding: 20px;
	left: 50%;
	top: 15px;
	transform: translate(-50%, -130%);
	z-index: 2;
	transition: 0.3s ease-in;
}
.succes-message-container.show-succes {
	transform: translate(-50%, 0%);
}
.succes-message-container div {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 13px;
}
.succes-message-container h3 {
	font-size: 1.1rem;
}
.succes-message-container p {
	color: var(--gray-medium);
}
@media (max-width: 720px) {
	.form-container {
		margin: 20px 10px;
	}
	.form {
		grid-template-columns: 1fr;
	}
	.email-container,
	.radio-container,
	.message-container,
	.checkbox-container,
	.btn {
		grid-column: 1 / 2;
	}
	.radio-container {
		grid-template-columns: 1fr;
	}
	.radio {
		margin-bottom: 15px;
	}
	.radio-container label {
		grid-column: 1 /2;
	}
	.checkbox-container label {
		font-size: 1rem;
	}
}
@media (max-width: 490px) {
	.succes-message-container {
		width: 90%;
	}
}
@media (max-width: 424px) {
	.checkbox-container .label-star::after {
		content: "*";
		position: absolute;
		left: 45px;
		top: 15px;
		color: var(--green-medium);
		font-size: 1.2rem;
	}
}
@media (max-width: 385px) {
	.checkbox-container .label-star::after {
		content: "*";
		position: absolute;
		left: 30%;
		top: 15px;
		color: var(--green-medium);
		font-size: 1.2rem;
	}
}
